body
{
  text-align: center;
  background-color: #dcfbfd;
}

img{
  width:200px;
  height:200px;
  border-radius: 100px;
}

p {
    font-family:'ROBOTO',sans-serif;
    color: darkorchid;
  }

#description {
color:rgb(161, 7, 71);
font-weight: bold;
font-size: 52px;
}

h1 {
    font-family: sans-serif;
    color: darkorchid;
  }

a{
    color:brown;
    text-decoration: none;
  }

a:hover{
    text-decoration: underline;
  }
  