body
{
  text-align: center;
  background-color: #f8f4e6 ;
}

main{
  background-color:#01568f;
  margin: 200px 30% 50px 30%;
  display: inline-block;
  padding: 20px;
  border: 3px solid rgba(215, 33, 5, 0.883);
  box-shadow: 3px 3px 8x rgba(244, 152, 138, 0.963);
}

img{
  margin-top: -120px;
  width:200px;
  height:200px;
  border-radius: 100px;
}

p {
    font-family:'ROBOTO',sans-serif;
    color: white;
  }

#firstpage{
  font-size: 25px;
  color: rgba(215, 33, 5, 0.883);
}

#description {
color:rgb(248, 204, 156);
font-weight: bold;
font-size: 30px;
}

